.back-ground-color{
  background-color: #F5F6FB;
}
button.back {
  cursor: pointer;
  color: #0f0fa5 !important;
  font-size: 15px;
  box-shadow: 0 0 0 0;
}


.badge-detail {
  justify-content: center;
  align-items: center;
  img.image-size {
    width: 150px;
    height: auto;
    margin: 10px auto;
  }
}
.back-award {
  padding: 10px;
  background: #fff;
  border-radius: 9px;
}
.emp-achiv-award {
  padding: 9px 0 0 9px;
}
p.emp-ach-rewad {
  font-size: 16px;
}
p.numb-size {
  font-size: 22px;
  font-weight: 600;
}
img.image-9 {
  width: 100%;
  height: 100px;
}
p.lorem-p {
  font-size: 16px;
}
