img{
  width: 100%;
}
::ng-deep .NgxEditor__MenuItem.NgxEditor__MenuItem--Icon {
  width:auto
}

.text_bold{
  font-weight: bold;
}

.light_blue {
  background-color: #e5e9ff;
}

.hand_pointer {
  cursor: pointer;
}
