
  .mat-toolbar-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/27px var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 600 18px/27px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  }
  th {
    background: #4051b50f 0% 0% no-repeat padding-box;
  }

  // responsive
  @media (max-width: 414px){
    mat-card-content.scroll {
      overflow-x: scroll;
    }
    .mat-toolbar-single-row {
      width: 154% !important;
    }
  }
  @media (max-width: 959px){
    mat-card-content.scroll {
      overflow-x: scroll;
    }
  }

  .text-bold{
    font-weight: bold;
  }