.main_healthwellness .mat-card {
  width: 73vw;
}

.tool {
  background-color: white;
}

mat-card {
  margin: 0.8em;
}

.cardbackground {
  background-color: #3f51b5 !important;
  opacity         : 5% !important;
}

.donut-style {
  box-shadow      : inset 0 0 6px rgba(0, 0, 0, 0.3);
  width           : 100%;
  border-radius   : 0.4em;
  margin          : 0.3em;
  background-color: white;
  padding         : 0.6em;
}

.cardText {
  color      : #3d3d3d !important;
  font-size  : 18px !important;
  text-align : center !important;
  font-weight: 600 !important;
  padding    : 0.4em !important;
}

.carddescrip {
  color     : #000000 !important;
  font-size : 9px !important;
  text-align: center !important;
  padding   : 0.4em !important;
}

.circle_style {
  padding      : 1.2em;
  border-radius: 34px;
  height       : 0.1em !important;
  width        : 0.1em !important;
  padding      : 1.2em;
}

//Circle
.circle_lightred {
  background-color: #f43733;
  opacity         : 0.9;
}

.circle_red {
  background-color: #f43733;
}

.circle_yellow {
  background-color: #ffa114;
}

.circle_lightgreen {
  background-color: #19952c;
  opacity         : 0.9;
}

.circle_green {
  background-color: #19952c;
}

.circle_text {
  position   : absolute;
  color      : #000000;
  font-family: "poppins", regular;
  font-size  : 0.5em;
  font-weight: bold;
}

.readiness_number {
  text-align : center;
  font-weight: 700;
}

.activeBtn {
  background-color: #3f51b5;
  border          : 0.1em solid #3f51b5;
  color           : white;
}

.inactiveBtn {
  border: 0.1em solid #3f51b5;
  color : #3f51b5
}
