<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Survey
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/list-survey">Survey</a></li>
      <li>Create new</li>
    </ul>
  </div>
</div>
  <div fxLayout="row wrap" fxflexfill fxLayoutGap="30px grid">
      <div fxFlex="33">
        <mat-card class="survery-select curve_css">
          <mat-card-content>
            <img src="./assets/img/survey.png" />
          </mat-card-content>
          <mat-card-footer class="curve_css" color="primary" routerLink="/add-survey">
            <span class="surveycard_title">Start from Scratch</span>
          </mat-card-footer>
				</mat-card>
      </div>
      <div fxFlex="33">
        <mat-card class="survery-select curve_css">
          <mat-card-content>
            <img src="./assets/img/survey1.PNG" />
          </mat-card-content>
          <mat-card-footer class="curve_css" color="primary" routerLink="/survey-grid">
            <span class="surveycard_title">Copy a past Survey</span>
          </mat-card-footer>
				</mat-card>
      </div>
      <div fxFlex="33">
        <mat-card class="survery-select curve_css">
          <mat-card-content>
            <img src="./assets/img/survey2.png" />
          </mat-card-content>
          <mat-card-footer class="curve_css" color="primary" routerLink="/survey-pre-grid">
            <span class="surveycard_title">Start from Template</span>
          </mat-card-footer>
				</mat-card>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
