
<div fxLayout="row" fxflexfill class="mid-graph" fxLayoutGap="10px grid" >
  <div fxFlex="100"  fxFlex.gt-xs="100">
    <mat-card class="dashboard-detail" >
      <div fxLayout="row">
        <div fxFlex="100"  fxFlex.gt-xs="100">
          <h3 class="logo">
            <span *ngIf="!userData && !userData.company_favicon">
              Company <br /><span>Logo</span>
            </span>
            <img src="{{imgPath}}{{userData.company_favicon}}" *ngIf="userData && userData.company_favicon" [alt]="userData && userData.company_favicon"/>
          </h3>
          <span class="card-title">
            Pay Slip
          </span>
        </div>
      </div>
      <div fxLayout="row" class="header-bg">
        <div fxFlex="100" fxFlex.gt-sm="100" >
          <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
            <div fxFlex="100">
              <span class="header-heading">Payslip for the month of {{currentMonth}}</span>
            </div>
          </div>
          <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
            <div fxFlex="70" >
              <table class="table headings">
                <tbody>
                  <tr>
                    <th>Employee</th>
                    <td>{{demoData && demoData.first_name}} {{demoData && demoData.last_name}}</td>
                  </tr>
                  <tr *ngIf="data.department">
                    <th>Department</th>
                    <td>{{demoData && demoData.department}}</td>
                  </tr>
                  <tr *ngIf="data.designation">
                    <th>Designation</th>
                    <td>{{demoData && demoData.designation}}</td>
                  </tr>
                  <tr>
                    <th>Date of joining</th>
                    <td>{{demoData && getJoinDate(demoData.employee_joiningDate)}}</td>
                  </tr>
                  <tr *ngIf="data.address">
                    <th>work location</th>
                    <td>{{userData && userData.company_Address}}</td>
                  </tr>
                  <tr *ngIf="data.passport">
                    <th>Passport No.</th>
                    <td>{{demoData && demoData.passport}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div fxFlex="30" dir="rtl" >
              <span class="net-salary-head">
                Total Salary
              </span>
              <span class="net-salary-amt">
                {{demoData.salary | currency:'AED'}}
              </span>
              <span class="payslip-no">
                Payslip 49029
              </span>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="section-bg">
        <div fxFlex="50">
          <table class="salary-table">
            <thead>
              <tr>
                <th colspan="2">Earnings</th>
              </tr>
            </thead>
            <tbody *ngIf="demoData">
              <tr *ngFor="let item of demoData.salaryArray">
                <td>{{item.label}}</td>
                <td>{{item.value | currency:'AED'}}</td>
              </tr>
              <tr class="sal-tab-footer">
                <td>Total earnings</td>
                <td>{{demoData.salary | currency:'AED'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div fxFlex="50">
          <table class="salary-table">
            <thead>
              <tr>
                <th colspan="2">Deductions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <td>BAsic Salary</td>
                <td>$ 2500</td> -->
              </tr>
              <!-- <tr>
                <td>Total Deductions</td>
                <td>$ 0</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </div>
</div>
