.m1 {
  width: -31%;
  padding: 2%;
  margin: -10px 6px 3px 10px;
}
.expspc {
  margin: 10px 31px 10px -2px;
}
.filetr {
  background: #edf6f7;
  margin: -16px 8px 14px 1px;
  padding: 6%;
}
button.mat-focus-indicator.big-btn.block-btn.mat-raised-button.mat-button-base.mat-primary.mat-button-disabled {
  color: white;
}

span.super-admin {
  color: #00000052;
}
.card-title{
  margin-top: 10px;
  display: block;
  text-align: left;
}
.filterback {
  background: #d5d8da2e;
  padding:10px 20px !important
}
.btnsze {
  width: 31%;
  padding: 17px 8px 18px 40px;
}

mat-slide-toggle {
  margin-top: 30px;
}
.challange-title{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3d3d);
  text-align: left;
  font: normal normal 600 20px/30px Poppins;
  letter-spacing: 0px;
  color: #3D3D3D;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid lightgray;
  display: block;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 17px;
}
.dropzone {
  margin-top: 15px;
}
