@import './../../../../variable.scss';
.card-title, .card-subtitle{
    text-align: center;
    display: block;
  }

  .logo{
    @include character-style-7;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    text-transform: capitalize;
    margin-top: 25px;
    span{
      color:var(--unnamed-color-ffaa00);
      text-align:right;
      display: block;
    }
    img {
      width: 75px;
    }
  }
  .header-bg{
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-top:30px;
    padding:30px;
    .header-heading{
      @include character-style-2;
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-3d3d3d);
      text-align: center;
      text-transform: uppercase;
      display:block;
      text-align: center;
      opacity: 1;
      margin-bottom:30px;
    }
    table.headings{
      th{
        background: transparent !important;
        height:30px;
      }
      td{
        @include character-style-6;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-000000);
        text-align: left !important;
        text-transform: capitalize;
        opacity: 0.8;
        margin-bottom: 15px;
      }
    }
    .details{
      list-style: none;
      margin: 0;
      padding:0;
      li{
        @include character-style-6;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-000000);
        text-align: left;
        text-transform: capitalize;
        opacity: 1;
        margin-bottom: 15px;
      }
    }
    .net-salary-head{
      @include character-style-5;
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: right;
      text-transform: capitalize;
      opacity: 1;
      display:block
    }
    .net-salary-amt{
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-65) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-3d3d3d);
      text-align: right;
      text-transform: capitalize;
      opacity: 1;
      display:block
    }
    .net-salary-det{
      @include character-style-6;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: right;
      text-transform: capitalize;
      opacity: 1;
      display:block
    }
    .payslip-no{
      @include character-style-1;
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-3d3d3d);
      text-align: right;
      text-transform: capitalize;
      opacity: 1;
      display:block;
      margin-top:30px;
    }
  }
  .section-bg{
    background: #F2F0F0 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-top:30px;
    table.salary-table {
      width: 100%;
      .sal-tab-footer{
        td{
          font-weight: bold;
        }
      }
      th {
        background: #F1EFEF 0% 0% no-repeat padding-box;
        opacity: 1;
        text-align: left;
        padding: 20px;
        &:first-child{
          border-radius: 10px 0px 0px 0px;
          border-right: 1px solid rgb(255, 255, 255);
        }
        &:nth-child(2){
          border-radius: 0px 10px 0px 0px;
        }
      }
      td{
        padding: 20px;
        &:first-child{
          @include character-style-6;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-3d3d3d);
        text-align: left;
        text-transform: capitalize;
        opacity: 1;
        }
        &:nth-child(2){
          @include character-style-6;
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-3d3d3d);
          text-align: right;
          text-transform: capitalize;
          opacity: 1;
          border-right: 1px solid rgb(255, 255, 255);
        }
        &:nth-child(3){
          @include character-style-6;
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-3d3d3d);
          text-align: left !important;
          text-transform: capitalize;
          opacity: 1;
        }
        &:nth-child(4){
          @include character-style-6;
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-3d3d3d);
          text-align: right;
          text-transform: capitalize;
          opacity: 1;
        }
      }
    }
  }
  // naveesh
    .back-ground {
        text-align: center;
        background-color: #F8F7F7;
        padding: 32px 0 32px 22px;
    }
    th.profile {
        font-size: 12px;
        padding-left: 21px;
    }
    td.jai-ho {
        font-weight: 600 !important;
    }
    tr.th-bg {
        background: #EBEDFA;
    }
    tr.th-bg-1 {
        background: #F2F0F0;
    }
    .back {
        background: var(--unnamed-color-ffffff);
        padding: 15px;
    }
    .header-bg {
        padding: 0 !important;
    }
    .tr-back{
        background: var(--unnamed-color-3f51b5);
        th{
            color: var(--unnamed-color-ffffff);
        }
        td{
            color: var(--unnamed-color-ffffff) !important;
        }
    }
    tbody.first {
        background: #F5F6FB;
    }
    p{
      opacity:1
    }
    p.new-delhi {
        margin: 0;
        font-size: 10px;
    }
    p.pay-attit {
        font-size: 14px;
        margin: 0;
        color: var(--unnamed-color-ffaa00);
    }
    p.pay-logo {
        font-size: 22px;
        font-weight: 700;
        color: var(--unnamed-color-000000) !important;
    }
    p.net-slary {
        font-size: 10px;
        margin: 5px 20px;
        font-weight: 600;
        text-align: right;
    }
    p.dollar-5k {
        font-size: 19px;
        margin: 20px 20px;
        text-align: right;
    }
    p.fifty-only {
        font-size: 10px;
        margin: 5px 20px;
        text-align: right;
    }
    h5.com-logo {
        font-size: 27px;
        text-align: center;
        img{
          width:75px;
        }
    }
    p.attich-finch {
        text-align: center;
        margin: 0;
        font-size: 11px;
    }
    p.nw-dl-in {
        text-align: center;
        margin: 0 0 11% 0;
        font-size: 11px;
    }
