<!-- <div class="back-bg">
  <div class="login-container">
    <div class="container">
      <div fxLayout="row" fxLayout.xs="column" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="50" fxFlex.gt-xs="100" fxFlexAlign="stretch">
          <div fxLayout="column"  fxLayoutAlign="space-around left" fxFlexAlign="stretch">
            <div fxFlex="20">
              <h3 class="logo">
                Company <br /><span>Logo</span>
              </h3>
            </div>
            <div fxFlex="70">
              <div class="login-heading welhide">
                <h1>welcome on<br /> Company admin portal</h1>
              </div>
            </div>
            <div fxFlex="10">
              <div class="quick-links welhide" >
                <ul>
                  <li>
                    <a>About us</a>
                  </li>
                  <li>
                    <a>Contact us</a>
                  </li>
                  <li>
                    <a routerLink="/">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxFlex.gt-xs="100" class="reset">
          <mat-card class="loing-card" >
            <mat-card-header>
              <mat-card-title>Reset password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form name="resetform" (ngSubmit)="reset()" #resetform="ngForm">
                <mat-label>Enter OTP</mat-label>
                  <mat-form-field appearance="standard" class="tyu">
                    <input type="text" matInput  #otp [(ngModel)]="formData.otp" name="otp" required autocomplete="off">
                    <mat-icon matSuffix>power_input</mat-icon>
                  </mat-form-field>
                  <mat-label>New Password</mat-label>
                  <mat-form-field appearance="standard" class="tyu">
                    <input  [type]="fieldNewPass ? 'text' : 'password'" matInput  #newPassword="ngModel" [(ngModel)]="formData.newPassword" name="newPassword" required autocomplete="off"  pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9]).{8,}$">
                    <mat-icon matSuffix (click)="fieldNewPass = !fieldNewPass" style="cursor: pointer;">{{fieldNewPass?'visibility_off':'visibility'}}</mat-icon>
                  </mat-form-field>
                  <div [hidden]="newPassword.valid || newPassword.untouched">
                    <span class="error"  *ngIf="newPassword.errors?.required">New Password is mandatory.</span>
                    <span class="error"  *ngIf="newPassword.errors?.pattern">Paasword must be 8 Charecter length and contain an uppercase later, a special charecter and a number</span>

                  </div>
                  <mat-label>ConfirmPassword</mat-label>
                  <mat-form-field appearance="standard" class="tyu">
                    <input type="password" [type]="fieldconPass ? 'text' : 'password'" matInput  #confirmPassword="ngModel" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required autocomplete="off">
                    <mat-icon matSuffix (click)="fieldconPass = !fieldconPass" style="cursor: pointer;">{{fieldconPass?'visibility_off':'visibility'}}</mat-icon>
                  </mat-form-field>
                  <div [hidden]="confirmPassword.valid || confirmPassword.untouched">
                    <span class="error"  *ngIf="newPassword.errors?.required">Confirm Password is mandatory.</span>
                  </div>
                  <div  *ngIf="formData.newPassword != formData.confirmPassword">
                    <span class="error"  >Confirm Password and New Password are not matched.</span>
                  </div>
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" class="block-btn login-button"  [disabled]="!resetform.valid || formData.newPassword != formData.confirmPassword">
                    RESET PASSWORD
                  </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="front-bg">
  </div>
</div> -->



<mat-card _ngcontent-hae-c322="" class="mat-card mat-focus-indicator loing-card">
  <div _ngcontent-hae-c322="" class="df">
    <img _ngcontent-hae-c322="" src="../../../assets/img/logo-live.png" alt="" class="logo-live">
  </div>
  <div _ngcontent-hae-c322="" class="df">
  
  </div>

  <mat-card-header _ngcontent-hae-c322="" class="mat-card-header">
    <div class="mat-card-header-text">
      <mat-card-title _ngcontent-hae-c322="" class="mat-card-title title_mat">Reset Password
      </mat-card-title>
    </div>
  </mat-card-header>





  <mat-card-content>
   
    <!-- <form name="forgotform" (ngSubmit)="forgot()" #forgotform="ngForm">

       
        <mat-form-field >
          <input matInput type="email" placeholder="Email Address" #email="ngModel" [(ngModel)]="formData.email" name="email"  maxlength="100" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="off" />
         
        </mat-form-field>
        <div [hidden]="email.valid || email.untouched">
          <span class="error" *ngIf="email.errors?.required">Email is mandatory.</span>
          <span class="error"  *ngIf="email.errors?.pattern">Invalid email id</span>
        </div>
        <mat-label></mat-label>
        <button mat-raised-button color="primary" class="block-btn login-button" [disabled]="!forgotform.valid" >
          RESET PASSWORD
        </button>
    </form> -->

    <form name="resetform" (ngSubmit)="reset()" #resetform="ngForm">
      
        <mat-form-field appearance="standard" class="tyu">
          <input type="text" matInput  #otp [(ngModel)]="formData.otp" name="otp" required autocomplete="off" placeholder="Enter OTP">
          <mat-icon matSuffix>power_input</mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="standard" class="tyu mt-2">
          <input  [type]="fieldNewPass ? 'text' : 'password'" matInput  #newPassword="ngModel" [(ngModel)]="formData.newPassword" name="newPassword" required autocomplete="off"  pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9]).{8,}$" placeholder="New Password">
          <mat-icon matSuffix (click)="fieldNewPass = !fieldNewPass" style="cursor: pointer;">{{fieldNewPass?'visibility_off':'visibility'}}</mat-icon>
        </mat-form-field>
        <div [hidden]="newPassword.valid || newPassword.untouched">
          <span class="error"  *ngIf="newPassword.errors?.required">New Password is mandatory.</span>
          <span class="error"  *ngIf="newPassword.errors?.pattern">Paasword must be 8 Charecter length and contain an uppercase later, a special charecter and a number</span>

        </div>
       
        <mat-form-field appearance="standard" class="tyu mt-2">
          <input type="password" [type]="fieldconPass ? 'text' : 'password'" matInput  #confirmPassword="ngModel" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required autocomplete="off" placeholder="ConfirmPassword">
          <mat-icon matSuffix (click)="fieldconPass = !fieldconPass" style="cursor: pointer;">{{fieldconPass?'visibility_off':'visibility'}}</mat-icon>
        </mat-form-field>
        <div [hidden]="confirmPassword.valid || confirmPassword.untouched">
          <span class="error"  *ngIf="newPassword.errors?.required">Confirm Password is mandatory.</span>
        </div>
        <div  *ngIf="formData.newPassword != formData.confirmPassword">
          <span class="error"  >Confirm Password and New Password are not matched.</span>
        </div>
        <mat-label></mat-label>
        <button mat-raised-button color="primary" class="block-btn login-button"  [disabled]="!resetform.valid || formData.newPassword != formData.confirmPassword">
          RESET PASSWORD
        </button>

        <button mat-raised-button (click)="cancel()" color="primary" class="block-btn login-button mt-3" >
          Cancel
        </button>

    </form>

  </mat-card-content>


</mat-card>



