@import './../../../../variable.scss';
mat-card.selectSalaryFieldCard {
  background: #f9f9f9;
  margin-bottom: 10px;
}
.paySlipHead{
  @include character-style-6;
  color: var(--unnamed-color-000000);
  text-align: left;
  text-transform: capitalize;
  opacity: 1;
}
span.show-preview {
  @include character-style-6;
  color: var(--unnamed-color-3f51b5);
  text-align: center;
  text-transform: capitalize;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  cursor: pointer;
}
span.back-link {
  @include character-style-6;
  color: var(--unnamed-color-3f51b5);
  text-align: left;
  text-transform: capitalize;
  opacity: 1;
  display: inline-flex;
  cursor: pointer;
  mat-icon {
    margin-right: 10px;
  }
}
