
<mat-icon class="closeModal" mat-dialog-close>close</mat-icon>
<div class="modal-box">
  <div fxLayout="row" class="">
    <div fxFlex="100">
      <span class="card-title">Add Sub Admin</span>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
<form name="registerForm" (ngSubmit)="addSubAdmin()" #registerForm="ngForm">
    <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="100">
        <mat-form-field class="form-fields">
          <mat-select [(ngModel)]="user" name="user" (ngModelChange)="getUserDetail($event)"  placeholder="Employee">
            <mat-option *ngFor="let emp of employeeList" [value]="emp">{{emp.first_name}} {{emp.last_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="100">
        <mat-form-field class="form-fields">
          <mat-select [(ngModel)]="formData.role" name="role" #role required placeholder="Role">
            <mat-option *ngFor="let roled of roleData" [value]="roled.userRole_id">{{roled.role_Type}}</mat-option>
          </mat-select></mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="" >
      <div fxFlex="100">
        <mat-label></mat-label>
        <button mat-raised-button class="big-btn block-btn"  [disabled]="!registerForm.valid"  color="primary">Add Sub Admin</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
</div>
