<div fxLayout="row" fxLayoutAlign="space-around left">
  <div fxFlex>
    <h3 class="page-title">
      Companies
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/company">Companies</a></li>
      <li>Company Edit</li>
    </ul>
    <mat-toolbar color="primary" class="mb-2">
      <!-- <mat-icon class="closeModal" >keyboard_backspace</mat-icon> -->
      <span class="spacer"></span>
      <span class="mat-toolbar-title">Company edit</span>
      <span class="spacer"></span>
      <mat-icon class="closeModal" [routerLink]="['/company']" routerLinkActive="router-link-active">close</mat-icon>
    </mat-toolbar>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
  <div fxFlex="100">
    <mat-card class="employee-tab">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start" dynamicHeight [(selectedIndex)]="activeLink">
          <form name="ThemeForm" #ThemeForm="ngForm">
            <mat-tab label="Profile">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Basic Information</span>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Company Name" type="text" #company_Name="ngModel"
                      [(ngModel)]="themeData.company_Name" name="company_Name" required autocomplete="off" />

                  </mat-form-field>
                  <div [hidden]="company_Name.valid || company_Name.untouched">
                    <span class="error" *ngIf="company_Name.errors?.required">Company Name is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <mat-select placeholder="Business Type" [(ngModel)]="themeData.company_BusinessType"
                      name="company_BusinessType" #company_BusinessType required>
                      <mat-option value="Corporation">Corporation</mat-option>
                      <mat-option value="Limited Liability Company">Limited Liability Company</mat-option>
                      <mat-option value="Publicly Listed">Publicly Listed</mat-option>
                      <mat-option value="Multi-national corporations">Multi-national corporations</mat-option>
                      <mat-option value="Not for profit organizations">Not for profit organizations</mat-option>
                      <mat-option value="Partnership">Partnership</mat-option>
                      <mat-option value="Sole proprietorship">Sole proprietorship</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <mat-select placeholder="Industry Type" [(ngModel)]="themeData.company_Industry"
                      name="company_Industry" #company_Industry required>
                      <mat-optgroup *ngFor="let item of industryData" [label]="item.title">
                        <mat-option *ngFor="let sub of item.child" [value]="sub">{{sub}}</mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Website" type="text" #company_Website="ngModel"
                      name="company_Website" [(ngModel)]="themeData.company_Website" required autocomplete="off" />

                  </mat-form-field>
                  <div [hidden]="company_Website.valid || company_Website.untouched">
                    <span class="error" *ngIf="company_Website.errors?.required">Corporate Website is mandatory.</span>
                  </div>
                </div>
              </div>

              <!-- LogoUploadSection -->
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                  <span class="card-title">Logo and iconography</span>
                  <p>Recommended image size is 40px x 40px</p>
                </div>
                <div fxFlex="50">
                  <mat-label>Light Logo</mat-label>
                  <div class="dropzone">
                    <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif">
                      <ngx-dropzone-label>
                        <mat-icon>note_add</mat-icon><br />
                        Upload Your Logo image<br />
                        <small>drag & drop to upload the Logo Image (jpeg,png,jpg and gif only)</small>
                      </ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of themeData.company_Logo" [removable]="true"
                        (removed)="onRemove(f)" style="background-image: url({{f}});">
                        <ngx-dropzone-label></ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </div>

              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Corporate Identity</span>
                </div>
                <div fxFlex="50">

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="15" placeholder="Contact Number" type="number" #company_Contact="ngModel"
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                      name="company_Contact" [(ngModel)]="themeData.company_Contact" required autocomplete="off" />

                  </mat-form-field>
                  <div [hidden]="company_Contact.valid || company_Contact.untouched">
                    <span class="error" *ngIf="company_Contact.errors?.required">Corporate Contact is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Corporate Email ID" type="email"
                      #corporate_Email="ngModel" [(ngModel)]="themeData.corporate_Email" name="corporate_Email" required
                      autocomplete="off" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />

                  </mat-form-field>
                  <div [hidden]="corporate_Email.valid || corporate_Email.untouched">
                    <span class="error" *ngIf="corporate_Email.errors?.required">Corparate Email is mandatory.</span>
                    <span class="error" *ngIf="corporate_Email.errors?.pattern">Email is invalid</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Parent Company Name" type="text" #companyParent_Name
                      name="companyParent_Name" [(ngModel)]="themeData.companyParent_Name" autocomplete="off" />

                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Number of Employee" type="number" #number_Employee
                      name="number_Employee" [(ngModel)]="themeData.number_Employee"
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                      autocomplete="off" />

                  </mat-form-field>
                  <mat-form-field class="form-fields">
                    <input matInput maxlength="200" placeholder="No of Locations" type="number" #company_Locations
                      name="company_Locations" [(ngModel)]="themeData.company_Locations" autocomplete="off"
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57" />

                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Year of Established" type="number" max="4" #company_YearEstablished
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                      [(ngModel)]="themeData.company_YearEstablished" name="company_YearEstablished"
                      autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Company Address</span>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Building Name & Office no" maxlength="50" type="text"
                      #building_name="ngModel" [(ngModel)]="addressData.building_name" name="building_name" required
                      autocomplete="off" />
                  </mat-form-field>
                  <div [hidden]="building_name.valid || building_name.untouched">
                    <span class="error" *ngIf="building_name.errors?.required">Building name is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Street" maxlength="50" type="text" #street="ngModel"
                      [(ngModel)]="addressData.street" name="street" required autocomplete="off" />
                  </mat-form-field>
                  <div [hidden]="street.valid || street.untouched">
                    <span class="error" *ngIf="street.errors?.required">Street name is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="District" maxlength="50" type="text" #office_number="ngModel"
                      [(ngModel)]="addressData.office_number" name="office_number" required autocomplete="off" />
                  </mat-form-field>
                  <div [hidden]="office_number.valid || office_number.untouched">
                    <span class="error" *ngIf="street.errors?.required">District is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="P. O. Box " maxlength="10" type="number" #po_box="ngModel"
                      [(ngModel)]="addressData.po_box"
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                      name="po_box" required autocomplete="off" />
                  </mat-form-field>
                  <div [hidden]="po_box.valid || po_box.untouched">
                    <span class="error" *ngIf="po_box.errors?.required">P.O. Box Number is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="City" maxlength="50" type="text" #city="ngModel"
                      [(ngModel)]="addressData.city" name="city" required autocomplete="off" />
                  </mat-form-field>
                  <div [hidden]="city.valid || city.untouched">
                    <span class="error" *ngIf="city.errors?.required">City is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <mat-select placeholder="Emirates" [(ngModel)]="addressData.emirates" name="emirates" #emirates
                      required>
                      <mat-option value="Dubai">Dubai</mat-option>
                      <mat-option value="Sharjah">Sharjah</mat-option>
                      <mat-option value="Abu Dhabi">Abu Dhabi</mat-option>
                      <mat-option value="Ras Al Khaimah">Ras Al Khaimah</mat-option>
                      <mat-option value="Umm Al Quwain">Umm Al Quwain</mat-option>
                      <mat-option value="Fujairah">Fujairah</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                </div>
                <div fxFlex="50" dir="rtl">
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" (click)="next(1)">Next</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Contact Details">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Contact Details</span>
                </div>
                <div fxFlex="50">
                  <div fxLayout="row">
                    <div fxFlex="90">
                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Primary Contact Name" maxlength="50" type="text"
                          #P_ContactName="ngModel" [(ngModel)]="themeData.P_ContactName" name="P_ContactName" required
                          autocomplete="off" />

                      </mat-form-field>
                      <div [hidden]="P_ContactName.valid || P_ContactName.untouched">
                        <span class="error" *ngIf="P_ContactName.errors?.required">Primary Contact Name is
                          mandatory.</span>
                      </div>

                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Primary Email" maxlength="50" type="email" #PC_Email="ngModel"
                          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="themeData.PC_Email"
                          name="PC_Email" required autocomplete="off" />

                      </mat-form-field>
                      <div [hidden]="PC_Email.valid || PC_Email.untouched">
                        <span class="error" *ngIf="PC_Email.errors?.required">Primary Email is mandatory.</span>
                        <span class="error" *ngIf="PC_Email.errors?.pattern">Email is invalid</span>
                      </div>

                      <mat-form-field class="form-fields">
                        <input type="text" matInput list="design" placeholder="Primary Contact Designation"
                          [(ngModel)]="themeData.PC_Designation" name="PC_Designation" #PC_Designation required />
                        <datalist id="design">
                          <option *ngFor="let d of designationList">{{d}}</option>
                        </datalist>
                      </mat-form-field>

                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Primary Contact Number" #Primary_Contact
                          (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                          [(ngModel)]="themeData.Primary_Contact" name="Primary_Contact" type="number" required
                          autocomplete="off" />
                        <div [hidden]="Primary_Contact.valid || Primary_Contact.untouched">
                          <span class="error" *ngIf="Primary_Contact.errors?.required">Primary Contact is
                            mandatory.</span>
                        </div>
                      </mat-form-field>
                    </div>
                    <div fxFlex="10">
                      <mat-icon color="info" (click)="addContact()" class="addRem">add_circle</mat-icon>
                    </div>
                  </div>
                  <div fxLayout="row" fxflexfill fxLayoutGap="10px grid"
                    *ngFor="let numberP of themeData.P_Contact;let i = index;">
                    <div fxFlex="90">
                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Contact Name" maxlength="50" type="text" [(ngModel)]="numberP.name"
                          name="name{{i}}" required autocomplete="off" />

                      </mat-form-field>

                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Primary Email" maxlength="50" type="email"
                          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="numberP.email"
                          name="email{{i}}" required autocomplete="off" />

                      </mat-form-field>
                      <mat-form-field class="form-fields">
                        <input type="text" matInput list="desig" placeholder="Contact Designation"
                          [(ngModel)]="numberP.designation" name="designation{{i}}" required />
                        <datalist id="desig">
                          <option *ngFor="let d of designationList">{{d}}</option>
                        </datalist>
                      </mat-form-field>
                      <mat-form-field class="form-fields">
                        <input matInput placeholder="Contact Number" [(ngModel)]="numberP.contact" name="contact{{i}}"
                          type="number" required autocomplete="off" />

                      </mat-form-field>
                    </div>
                    <div fxFlex="10">
                      <mat-icon color="warn" (click)="remContact(i)" class="addRem">remove_circle</mat-icon>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <button mat-raised-button color="warn" (click)="next(0)">Back</button>
                </div>
                <div fxFlex="50" dir="rtl">
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" (click)="next(2)">Next</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Plan">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Plan Details</span>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="form-fields">
                    <mat-select [(ngModel)]="themeData.plan_Name" name="plan_Name" #plan_Name required
                      placeholder="Plan Name">
                      <mat-option *ngFor="let p of planData" [value]="p">{{p}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput type="number" min="1" max="10000" placeholder="License"
                      [(ngModel)]="themeData.license" (keyup)="licenseFunction($event.target.value)" name="license"
                      #license required>
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Plan Start Date" [matDatepicker]="picker" #plan_StartDate
                      name="plan_StartDate" [(ngModel)]="themeData.plan_StartDate" required autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div [hidden]="plan_StartDate.valid || plan_StartDate.untouched">
                    <span class="error" *ngIf="plan_StartDate.errors?.required">Plan Start Date is mandatory.</span>
                  </div>

                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Plan End Date" [min]="themeData.plan_StartDate"
                      [matDatepicker]="picker2" #plan_EndDate name="plan_EndDate" [(ngModel)]="themeData.plan_EndDate"
                      required autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <div [hidden]="plan_EndDate.valid || plan_EndDate.untouched">
                    <span class="error" *ngIf="plan_EndDate.errors?.required">Plan Start End is mandatory.</span>
                  </div>
                </div>
              </div>

              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                </div>
                <div fxFlex="50">
                  <mat-label>Upload Contracts</mat-label>
                  <div class="dropzone">
                    <a [href]="contract" target="_blank" *ngIf="contract != ''">View Contract</a>
                    <ngx-dropzone (change)="onDocSelect($event)">
                      <ngx-dropzone-label>
                        <mat-icon>note_add</mat-icon><br />
                        Upload Your Document<br />
                        <small>drag & drop to upload the document</small>
                      </ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files2" [removable]="true" (removed)="onDocRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <button mat-raised-button color="warn" (click)="next(1)">Back</button>
                </div>
                <div fxFlex="50" dir="rtl">
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" (click)="next(3)">Next</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="SMTP Settings">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Email Configurations</span>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="form-fields">
                    <input matInput placeholder="Mail Server" maxlength="50" type="text" #mail_Server name="mail_Server"
                      [(ngModel)]="themeData.mail_Server" autocomplete="off" />
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="SMTP Port"
                      (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
                      type="number" #smtp_Port name="smtp_Port" [(ngModel)]="themeData.smtp_Port" autocomplete="off" />
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Username" type="text" #userName name="userName"
                      [(ngModel)]="themeData.userName" autocomplete="off" />
                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Password" type="password" #password name="password"
                      [(ngModel)]="themeData.password" autocomplete="off" />
                  </mat-form-field>

                  <mat-radio-group aria-label="Select an option" placeholder="Server Security" name="server_Security"
                    [(ngModel)]="themeData.server_Security">
                    <mat-radio-button value="TLS">TLS</mat-radio-button>
                    <mat-radio-button value="SSL">SSL</mat-radio-button>
                  </mat-radio-group>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Default Sender" type="text" #default_Sender
                      name="default_Sender" [(ngModel)]="themeData.default_Sender" autocomplete="off" />

                  </mat-form-field>

                  <mat-form-field class="form-fields">
                    <input matInput maxlength="50" placeholder="Default Sender Name" type="text" #default_SenderName
                      [(ngModel)]="themeData.default_SenderName" name="default_SenderName" autocomplete="off" />

                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <button mat-raised-button color="warn" (click)="prev(2)">Back</button>
                </div>
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <button mat-raised-button class="big-btn block-btn" color="primary" (click)="editCompany()"
                    [disabled]="!ThemeForm.valid">Edit Company</button>
                </div>
              </div>
            </mat-tab>

          </form>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>