.mat-card-question{
  margin-bottom: 15px;
  background: #fafafa;
}
.mat-slider {
  width: 100%;
}
span.right {
  float: right;
}
.mat-checkbox {
  margin-right: 30px;
}
.fixed-div {
  height: 100vh;
  overflow: auto;
}
