@import "./../auth.scss";
.loing-card{
    margin: 5% auto;
}
mat-card mat-card-header mat-card-title {
	
	letter-spacing: 0px;
	/* color: #000000; */
	text-transform: capitalize;
	opacity: 1;
	margin-bottom: 0 px;
	font-size: 1.7rem !important;
	color: #5c5c5c !important;
}

img.logo-live {
    width: 100%;
    margin: 0 auto;
    max-width: 95px;
    display: block;
}

.logoh5{
    font-size: 1.7rem;
    padding: 17 px 0 0 0;
    text-align: center;
    font-weight: 500;
    font-family: "Material Icons";
    color: #5c5c5c;
}

.mat-card {
    box-shadow: none;
    background: transparent;
}

