<div fxFlex="50" fxFlex.gt-xs="100" >
  <mat-card class="loing-card" >
    <div class="df">
      <img class="logo-live" src="../../../assets/img/logo-live.png" alt="">
      

    </div>
   
    <h5 class="hygge logoh5">HYGGE</h5>
    <mat-card-header>
      <mat-card-title>Create password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form name="resetform" (ngSubmit)="reset()" #resetform="ngForm">
          <mat-form-field appearance="standard">
            <input placeholder="password" [type]="fieldNewPass ? 'text' : 'password'" matInput  #newPassword="ngModel" [(ngModel)]="formData.newPassword" name="newPassword" required autocomplete="off" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9]).{8,}$">
            <mat-icon matSuffix (click)="fieldNewPass = !fieldNewPass" style="cursor: pointer;">{{fieldNewPass?'visibility_off':'visibility'}}</mat-icon>
          </mat-form-field>
          <div [hidden]="newPassword.valid || newPassword.untouched">
            <span class="error"  *ngIf="newPassword.errors?.required">New Password is mandatory.</span>
            <span class="error"  *ngIf="newPassword.errors?.pattern">Paasword must be 8 Charecter length and contain an uppercase later, a special charecter and a number</span>
          </div>
          <br><br>
          <mat-form-field appearance="standard" class="mt-2">
            <input [type]="fieldconPass ? 'text' : 'password'" placeholder="Confirm Password" matInput  #confirmPassword="ngModel" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required autocomplete="off">
            <mat-icon matSuffix (click)="fieldconPass = !fieldconPass" style="cursor: pointer;">{{fieldconPass?'visibility_off':'visibility'}}</mat-icon>
          </mat-form-field>
          <div  *ngIf="formData.newPassword != formData.confirmPassword">
            <span class="error"  >Confirm Password and New Password are not matched.</span>
          </div>
          <mat-label></mat-label>
          <button mat-raised-button color="primary" class="block-btn login-button"  [disabled]="!resetform.valid || formData.newPassword != formData.confirmPassword">
            CREATE PASSWORD
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>