<mat-toolbar color="primary">
  <!-- <mat-icon class="closeModal" >keyboard_backspace</mat-icon> -->
  <span class="spacer"></span>
  <span class="mat-toolbar-title" style="color:#fff !important">Update Recipe</span>
  <span class="spacer"></span>
  <!-- <mat-icon class="closeModal" [routerLink]="['/be-your-own-nutritionist-info']" routerLinkActive="router-link-active" >close</mat-icon> -->
  <mat-icon class="closeModal" [routerLink]="['/recipe']" routerLinkActive="router-link-active">
    close
  </mat-icon>
</mat-toolbar>
<div class="main-hra-form-container">
  <form name="postForm" #postForm="ngForm">
    <div class="sub-hra-form-container">
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="100">
          <mat-label>Title <span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="recipe_title" [(ngModel)]="formGroup.recipe_title"
                required />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="100">
          <mat-label>Image / Video</mat-label>
          <div class="dropzone">
            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif,video/mp4">
              <ngx-dropzone-label>
                <mat-icon>note_add</mat-icon><br />
                Upload Your Image/Video<br />
                <small>drag & drop to upload the Image/Video (jpeg,png,jpg,gif and mp4 only)</small>
              </ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of formGroup.recipe_image" [removable]="true" (removed)="onRemove(f)"
                style="background-image: url({{f}});">
                <ngx-dropzone-label>{{ f }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="50">
          <mat-label>Calories (kcal)<span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="calories" [(ngModel)]="formGroup.calories" required />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50">
          <mat-label>Protein (g)<span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="protein" [(ngModel)]="formGroup.protein" required />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="50">
          <mat-label>Fat (g)<span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="fat" [(ngModel)]="formGroup.fat" required />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50">
          <mat-label>Carbs (g)<span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="carbs" [(ngModel)]="formGroup.carbs" required />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="50">
          <mat-label>Preparation Time (in mins)<span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="preparation_time"
                [(ngModel)]="formGroup.preparation_time" required />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50">
          <mat-label>Serving size <span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <input matInput type="text" name="serving_size" [(ngModel)]="formGroup.serving_size"
                required />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="100">
          <mat-label>Ingredients</mat-label>
        </div>
      </div>
      <div fxLayout="row wrap" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="25" *ngFor="let sub of ingredient; let valueIndex=index;">
          <mat-form-field class="form-ques" style="    width: 80% !important;">
            <input matInput [(ngModel)]="sub.key" name="key{{valueIndex}}" required>
            <button mat-icon-button matSuffix color="warn" (click)="removeIng(valueIndex)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div style="display: flex;max-width: 50px;">
          <button mat-raised-button (click)="addIng()" style="    height: 40px;" color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="100">
          <mat-label>Instructions <span class="red-txt">*</span> </mat-label>
          <div class="form-ques">
            <mat-form-field>
              <textarea matInput name="instructions" [(ngModel)]="formGroup.instructions"
                required></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
        <div fxFlex="100">
          <mat-label>Keywords</mat-label>
        </div>
      </div>
      <div fxLayout="row wrap" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="25" *ngFor="let sub of keywords; let valueIndex=index;">
          <mat-form-field class="form-ques" style="    width: 80% !important;">
            <input matInput [(ngModel)]="keywords[valueIndex].key" name="key{{valueIndex}}" required>
            <button mat-icon-button matSuffix color="warn" (click)="removeOption(valueIndex)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div style="display: flex;max-width: 50px;">
          <button mat-raised-button (click)="addOption()" style="    height: 40px;"
            color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="short-container">
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="100">
          <mat-label></mat-label>
          <button mat-raised-button class="big-btn block-btn" (click)="editRecipe()" [disabled]="!postForm.valid"
            color="primary">Save & Publish</button>
        </div>
      </div>
    </div>
  </form>
</div>