.profile_picdynamic{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border: 0.2em solid;
    border-radius: 5em;
    padding: 0.3em;
    line-height: 49px;
    font-size: 1.68em;
    border-color: #3f51b5;
    color: #3f51b5;
    font-weight: 900;
  }