
.logo{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/14px var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 600 18px/14px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  margin-top: 25px;
  span{
    color:#FFAA00;
    text-align:right;
    display: block;
  }
  img {
    width: 75px;
  }
}
.user-info {
  margin-top: 35px;
  img{
    width:70px;
    height:70px;
    margin:0 auto;
  }
  .user-name{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    margin: 10px 0 0;
  }

.usere-desig{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3d3d);
  text-align: center;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 0;
}

}

.side-nav {
  mat-list-item{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3d3d);
  text-align: left;
  opacity: 1;
  cursor: pointer;

  }
  & .active{
    background: #f6f7fc 0% 0% no-repeat padding-box;
    border-radius: 100px;
    mat-icon{
      color: var(--unnamed-color-3f51b5);
    }
    .mat-line {
      color: var(--unnamed-color-3f51b5);
    }
  }
  & .active-block{
    background: #f6f7fc 0% 0% no-repeat padding-box;
    mat-icon{
      color: var(--unnamed-color-3f51b5);
    }
    .mat-line {
      color: var(--unnamed-color-3f51b5);
    }
  }
  .mat-list-item-content:focus{
    outline:0 !important;
  }
}
