<!-- <div class="back-bg">
  <div class="login-container">
    <div class="container">
      <div fxLayout="row" fxLayout.xs="column" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="50" fxFlex.gt-xs="100" fxFlexAlign="stretch">
          <div fxLayout="column"  fxLayoutAlign="space-around left" fxFlexAlign="stretch">
            <div fxFlex="20">
              <h3 class="logo">
                Company <br /><span>Logo</span>
              </h3>
            </div>
            <div fxFlex="70">
              <div class="login-heading welcome">
                <h1>welcome on<br /> Company admin portal</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and<br /> typesetting industry. Lorem Ipsum has been the industry's<br/> standard dummy text.</p>
              </div>
            </div>
            <div fxFlex="10">
              <div class="quick-links welcome" >
                <ul>
                  <li>
                    <a>About us</a>
                  </li>
                  <li>
                    <a>Contact us</a>
                  </li>
                  <li>
                    <a routerLink="/">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->


        <!-- <div fxFlex="50" fxFlex.gt-xs="100" class="forget">
          <mat-card class="loing-card" >
            <mat-card-header>
              <mat-card-title>Forgot password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Recover password Lorem Ipsum is simply<br /> dummy text of the printing.</p>
              <form name="forgotform" (ngSubmit)="forgot()" #forgotform="ngForm">

                  <mat-label>Email Address</mat-label>
                  <mat-form-field >
                    <input matInput type="email" #email="ngModel" [(ngModel)]="formData.email" name="email"  maxlength="100" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="off" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                  <div [hidden]="email.valid || email.untouched">
                    <span class="error" *ngIf="email.errors?.required">Email is mandatory.</span>
                    <span class="error"  *ngIf="email.errors?.pattern">Invalid email id</span>
                  </div>
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" class="block-btn login-button" [disabled]="!forgotform.valid" >
                    RESET PASSWORD
                  </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div> -->

            
          
        <mat-card _ngcontent-hae-c322="" class="mat-card mat-focus-indicator loing-card">
          <div _ngcontent-hae-c322="" class="df">
            <img _ngcontent-hae-c322="" src="../../../assets/img/logo-live.png" alt="" class="logo-live">
          </div>
          <div _ngcontent-hae-c322="" class="df">
            <h5 _ngcontent-hae-c322="" class="hygge">HYGGE
            </h5>
          </div>
          <mat-card-header _ngcontent-hae-c322="" class="mat-card-header">
            <div class="mat-card-header-text">
              <mat-card-title _ngcontent-hae-c322="" class="mat-card-title title_mat">Forget Password
              </mat-card-title>
            </div>
          </mat-card-header>





          <mat-card-content>
           
            <form name="forgotform" (ngSubmit)="forgot()" #forgotform="ngForm">

               
                <mat-form-field appearance="standard" style="height: 55px; padding:0 0 10px 10px;">
                  <input matInput type="email" placeholder="Email Address" class="eml-inp emailadd" #email="ngModel" [(ngModel)]="formData.email" name="email"  maxlength="100" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required autocomplete="off" />
                 
                  <mat-icon matSuffix></mat-icon>
                </mat-form-field>


                <div [hidden]="email.valid || email.untouched">
                  <span class="error" *ngIf="email.errors?.required">Email is mandatory.</span>
                  <span class="error"  *ngIf="email.errors?.pattern">Invalid email id</span>
                </div>
               
                <button mat-raised-button color="primary" class="block-btn login-button" [disabled]="!forgotform.valid" >
                  RESET PASSWORD
                </button>

                <button mat-raised-button (click)="cancel()" color="primary" class="block-btn login-button" >
                  Cancel
                </button>


            </form>
          </mat-card-content>


        </mat-card>
        





      <!-- </div>
    </div>
  </div>
  <div class="front-bg">
  </div>
</div> -->
