.back_Screen {
    background: #fff;
    height: 1066px;
}
.tool{
    width: 96%;
}
table.mat-table {
    width: 96%;
}
.spacer {
    flex: 1 1 auto;
  }
  td.ch {
    padding: 0 0 0 21px;
}  
td.rd {
    color: red;
}
td.bl {
    color: blue;
}
tr.mat-header-row {
    background: #f5f5f5;
}
mat-toolbar.tool {
    margin: 24px 0 0 29px;
}
table.tab_le {
    margin: 4px 0 0 29px;
}
// button.btn_add {
//     left: 57%;
// }
b.font {
    color: #000;
    font-size: 15px;
}
span.icic {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/27px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
}
span.icici {
    padding: 0 0 0 35px;
    color: blue;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/27px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
}
mat-toolbar-single-row {
    width: 95%;
}