<div fxLayout="row" fxLayoutAlign="space-around left">
  <div fxFlex>
    <h3 class="page-title">
      Survey
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/survey-list">Survey</a></li>
    </ul>
  </div>
</div>

<div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
  <div fxFlex="66">
    <app-card [title]="'Number of Surveys conducted by month'" [children]="children3"
      [CardHeight]="heightRecord.dasboard6" [isDefault]="heightRecord.isDefault">
      <ng-template #children3>
        <app-line class="wid-graph" *ngIf="noOfSurveyConductedGraph" [data]="noOfSurveyConductedGraph"></app-line>
      </ng-template>
    </app-card>
  </div>
  <div fxFlex="34">
    <app-card [title]="''" [children]="children4">
      <ng-template #children4>
        <div class="xy_centeric">
          <span class="titleOF_card">Number of Responses received</span>
          <span class="big-number">{{numberResponsesRecieved}}</span>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>
<br />
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
  <div fxFlex="66">
    <app-card [title]="'Number of responded for last 10 Surveys'" [children]="children5"
      [CardHeight]="heightRecord.dasboard6" [isDefault]="heightRecord.isDefault">
      <ng-template #children5>
        <app-line class="wid-graph" *ngIf="noOfRespondedGraph" [data]="noOfRespondedGraph"></app-line>
      </ng-template>
    </app-card>
  </div>
  <div fxFlex="34">
    <app-card [title]="''" [children]="children66">
      <ng-template #children66>
        <div class="xy_centeric">
          <span class="titleOF_card">Number of Active Surveys</span>
          <span class="big-number">{{numberActiveSurvey}}</span>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>


<mat-card style="margin:1em 0em">
  <div fxLayout="row" class="mid-graph">
    <div fxFlex="100" fxFlex.gt-xs="100">
      <mat-toolbar color="light" class="tool">
        <span class="mat-toolbar-title icic"> <b>Survey List </b> </span>
        <span class="spacer"></span>
        <mat-form-field class="search-field" appearance="standard">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search" #input (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getList()">
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="cal-button" aria-label="Add
          new" [routerLink]="['/select-survey']" *ngIf="accessPermission">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="survey_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text_bold"> Name </th>
          <td mat-cell *matCellDef="let element">
            <div class="comp-info">
              <span class="mat-toolbar-title">{{element.survey_Name}}</span><br />
              <span>{{element.survey_Description | slice:0:20}}...</span>
            </div>
          </td>
        </ng-container>

        <!-- attempted Column -->
        <ng-container matColumnDef="attempted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text_bold"> Attempted</th>
          <td mat-cell *matCellDef="let element">
            {{element.totalUserSubmission}}/{{element.totalUserAssign}} <a *ngIf="element.expiry != 'expired'"
              (click)="reminderSurvey(element.surveyQuestions_Id)" style="cursor: pointer;"
              class="primary-txt"><b>Resend</b></a></td>
        </ng-container>

        <!-- published Column -->
        <ng-container matColumnDef="created_At">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text_bold"> Published on </th>
          <td mat-cell *matCellDef="let element">
            {{getTime(element.created_At)}} </td>
        </ng-container>

        <!-- expiry Column -->
        <ng-container matColumnDef="survey_ExpiryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text_bold"> Expire in </th>
          <td mat-cell *matCellDef="let element">
            <span class="red-txt" *ngIf="element.expiry === 'expired'">Expired</span>
            <!-- <span class="blue-txt" *ngIf="element.expiry == 'remain'">{{element.survey_ExpiryDate}}</span> -->
            <span class="blue-txt" *ngIf="element.expiry === 'expiring'">{{element.days}} days Left</span>
            <!-- <countdown class="current-time" *ngIf="element.expiry == 'current'"
              [config]="{leftTime: element.survey_ExpiryDate}"></countdown> -->
            <ngx-countdown  *ngIf="element.expiry === 'currentday'" class="current-time"
              [time]="element.leftTime" format="HH:mm:ss" [millisecond]="true" [autoStart]="true"></ngx-countdown>
              <!-- <countdown *ngIf="config" [config]="config" (event)="handleEvent($event)"></countdown> -->
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text_bold"> Action Required </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!accessPermission">No Permission</span>
            <button mat-mini-fab class="cal-button" #tooltip="matTooltip" [routerLink]="[element.expiry ==
              'expired'?'/survey-detail/'+element.surveyQuestions_Id:'/active-survey/'+element.surveyQuestions_Id]"
              *ngIf="accessPermission" matTooltip="View" color="light">
              <mat-icon color="green">preview</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data found.</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

    </div>
  </div>

</mat-card>