@import "./../../../../variable.scss";

.intro-card {
  margin-bottom: 10px;

  mat-card-content {
    flex-direction: column;
    display       : flex;
    text-align    : center;

    img {
      width : 75px;
      height: 75px;
      margin: 20px auto;
    }

    .average {
      @include character-style-1;
      color         : var(--unnamed-color-3f51b5);
      text-align    : center;
      text-transform: capitalize;
      opacity       : 1;
      margin        : 10px 0;
    }

    .average-score {
      @include character-style-5;
      color         : var(--unnamed-color-3d3d3d);
      text-align    : center;
      text-transform: capitalize;
      opacity       : 1;
      margin        : 10px 0;
    }

    .better-percent {
      @include character-style-5;
      color         : var(--unnamed-color-000000);
      text-align    : center;
      text-transform: capitalize;
      opacity       : 0.5;
      margin        : 10px 0;
    }
  }
}

.contact-list {
  margin : 0 0 20px;
  padding: 0;

  li {
    @include character-style-5;
    color         : var(--unnamed-color-000000);
    text-align    : center;
    text-transform: capitalize;
    opacity       : 0.5;
    text-align    : left;
    display       : flex;
    margin-bottom : 12px;
    list-style    : none;

    mat-icon {
      margin-right: 10px;
    }
  }
}

.profile-detail {
  margin: 30px 30px 50px;

  p {
    @include character-style-5;
    color         : var(--unnamed-color-000000);
    text-align    : left;
    text-transform: capitalize;
    opacity       : 0.5;
    margin-top    : 20px;
  }

  a {
    @include character-style-5;
    color         : var(--unnamed-color-3f51b5);
    text-align    : left;
    text-transform: capitalize;
    opacity       : 1;
  }
}

p.date-time {
  margin   : 0 !important;
  font-size: 13px;
}

h3.puch-in {
  margin: 5% 0 0 0 !important;
}

h3.puch-in-1 {
  margin: 8% 0 0 0 !important;
}

img.img-test {
  margin: 11px 0 0 0;
}

img.img-2 {
  width: 100%;
}

img.img-3 {
  width: 100%;
}

p.lorem {
  font-size: 14px;
  margin   : 4% 0 0 0;
}

.bac-g {
  background: var(--unnamed-color-ffffff);
  margin    : 0 0 0 2px;
  padding   : 10px;
  box-shadow: 0 0 4px 0 #00000014;
}

p.over-w {
  text-align : center;
  font-size  : 18px;
  font-weight: 600;
}

p.elit {
  font-size : 12px;
  text-align: justify;
}

h2.assign-tar {
  letter-spacing: 0;
  font-size     : 22px;
}

.back {
  background   : var(--unnamed-color-ffffff);
  border-radius: 12px;
  box-shadow   : -1px 0px 9px 0 #00000026;
  margin       : 0 0 3% 0;
  padding      : 2% 0 1% 3%;
}

p.elit-lor {
  font-size: 15px;
}

p.upload {
  font-size: 12px;
}

.img-b {
  background   : #c0c0c0ad;
  height       : 55%;
  margin       : 9px 9px 0 0;
  border-radius: 8px;
  color        : #c0c0c000;
  width        : 75%;
}

p.tar-nam {
  font-size  : 17px;
  margin     : 0 0 3px 0;
  font-weight: 600;
}

p.sixty {
  font-size  : 24px;
  font-weight: bold;
  margin     : 6px 0 0 0;
}

p.twinty {
  font-size: 14px;
}

p.achived {
  font-size  : 22px;
  font-weight: 600;
}

.back-ground {
  background   : var(--unnamed-color-ffffff);
  border-radius: 12px;
  box-shadow   : -1px 0px 9px 0 #0000006e;
  margin       : 3% 2px 3% 3px;
  padding      : 2% 0 1% 3%;
}

span.identities {
  font-size  : 23px;
  font-weight: 500;
}

.back-ground-1 {
  background   : var(--unnamed-color-ffffff);
  border-radius: 12px;
  box-shadow   : 0px 0px 4px 0 #0000001a;
  margin       : 1% 2px 3% 3px;
  padding      : 2% 0 1% 3%;
}

li.mobile-data {
  font-size: 13px !important;
}

img.img {
  width        : 58%;
  height       : 89px;
  border-radius: 60px;
}

.back-ground-1:hover {
  box-shadow: -1px 0px 9px 0 #0000006e;
  cursor    : pointer;
}

.rowbg {
  background-color: #f4f5fb;

  //background: #4051b50f 0% 0% no-repeat padding-box;
  border        : none;
  height        : 50px;
  font-family   : var(--unnamed-font-family-poppins);
  font-style    : var(--unnamed-font-style-normal);
  font-weight   : var(--unnamed-font-weight-normal);
  font-size     : var(--unnamed-font-size-15);
  line-height   : var(--unnamed-line-spacing-23);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-transform: var(--unnamed-text-transform-titlecase);
  color         : var(--unnamed-color-000000);
  text-align    : left;
  text-transform: capitalize;
  opacity       : 1;
  text-align    : left !important;
  padding       : 13px 10px;
}

.rowBottom {
  border-bottom: 1px solid var(--unnamed-color-e0e0e0);
}

.recorddata {
  padding: 13px 10px;
}

.card-title {
  max-width: 100% !important
}



.table {
  tr {
    border-bottom: 1px solid var(--unnamed-color-e0e0e0);

    th {
      padding: 0 10px;
    }

    td {
      text-align: left !important;
      padding   : 0 10px;
    }
  }
}

ul.todays-attendanc-list {
  list-style  : none;
  border-left : 3px solid var(--unnamed-color-e0e0e0);
  padding-left: 15px;

  li {
    display       : flex;
    flex-direction: column;
    margin-bottom : 15px;
    position      : relative;
    padding-left  : 15px;

    &:after {
      content      : "";
      width        : 5px;
      height       : 5px;
      background   : var(--unnamed-color-ffffff);
      border       : 3px solid var(--unnamed-color-ff9b44);
      border-radius: 100%;
      position     : absolute;
      left         : -22px;
      top          : 6px;
    }
  }
}

.stats {
  display        : flex;
  width          : 100%;
  justify-content: space-between;
  margin-bottom  : 10px;

  span:first-child {
    font-weight: bold;
    font-size  : 16px;
  }
}

.img_centric {
  display: flex;
}

.badges_name_earned {
  font-family   : var(--unnamed-font-family-poppins);
  font-style    : var(--unnamed-font-style-normal);
  font-weight   : var(--unnamed-font-weight-bold);
  font-size     : var(--unnamed-font-size-12);
  line-height   : var(--unnamed-line-spacing-23);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-transform: var(--unnamed-text-transform-titlecase);

  
  text-align    : left !important;
  text-transform: capitalize;
  opacity       : 1;
}

.badges-earned {
  color: var(--unnamed-color-3d3d3d);
}

.badges-name {
  color: var(--unnamed-color-000000);
}