<div fxLayout="row" fxLayoutAlign="space-around left" >
    <div fxFlex>
      <h3 class="page-title">
        Subscription Plan
      </h3>
      <ul class="breadcrumb">
        <li> <a routerLink="/dashboard">Dashboard </a></li>
         <li>Subscription Plan</li>
      </ul>
    </div>
    <div class="back_white1">
        <h3 class="page-title rr">Subscription Details</h3>

        <div fxLayout="row">
            <div fxFlex="25" fxLayoutAlign="space-around" class="box1">
              <div fxLayout="column" style="width: 100%;">
                <div class="round"></div>
                <!-- <div class="doll"> <h2 class="ten"> $10.00</h2> <span class="th">per month</span> </div> -->
                <div class="para">
                    <!-- <div *ngFor="let item of privacyPolicyData">
                        <p class="data_show">{{item.description}}</p>
                    </div> -->
                </div>
                <div>
                    <!-- <button mat-raised-button color="orange" class="but"> SINGUP</button> -->
                </div>
              </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="space-around" class="box2">
              <div fxLayout="column" style="width: 100%;">
                  <div class="round">
                    <div class="doll"> <mat-icon>shopping_bag</mat-icon><h2 class="twn"> $20.00</h2> <span class="th">per month</span></div>
                  </div>

                  <div class="row mn">
                      <h3 class="ji">JitterBug </h3>
                  </div>
                  <div class="para1">
                      <!-- <div *ngFor="let item of privacyPolicyData">
                          <p class="data_show1">{{item.description}}</p>
                      </div> -->
                      <p>
                        <span class="col1"> Dashboard </span>
                        <span class="col1"> Attendance </span>
                        <span class="col1"> Notifications/Announcement </span>
                        <span class="col1">Salary Management </span>
                        <span class="col1">Calendar </span>
                        <span class="col1">Insurance Management </span>
                        <span class="col1">HRA </span>
                        <span class="col1">HRAreports </span>
                        <span class="col1">Other Reports</span>
                        <span class="col2">Tracking - Health,Activity & Behavior </span>
                        <span class="col2">Coaching </span>
                        <span class="col2">Document Management </span>
                        <span class="col2">Leave Management </span>
                        <span class="col2">Reward Program </span>
                        <span class="col2">Survey </span>
                        <span class="col2">Messaging </span>
                        <span class="col2">Settings </span>
                        <span class="col1">Company Profile </span>
                        <span class="col1">Employee Management </span>
                        <span class="col1">FAQs & Privacy Policy </span>
                        <span class="col1">Menu </span>
                        <span class="col2">Role & Access </span>
                        <span class="col2">Integration with wearables </span>
                      </p>

                  </div>
                  <div>
                      <button mat-raised-button color="orange" class="but"> Select</button>
                  </div>
              </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="space-around" class="box3">
                <div fxLayout="column" style="width: 100%;">
                <div class="round">
                  <div class="doll"><mat-icon>local_florist</mat-icon> <h2 class="thr"> $30.00</h2> <span class="th">per month</span></div>
                </div>

                <div class="row sw mn">
                    <h3 class="sw">Swing </h3>
                </div>
                <div class="para1">
                    <!-- <div *ngFor="let item of privacyPolicyData">
                        <p class="data_show1">{{item.description}}</p>
                    </div> -->
                    <p>
                        <span class="col1"> Dashboard </span>
                        <span class="col1"> Attendance </span>
                        <span class="col1"> Notifications/Announcement </span>
                        <span class="col1">Salary Management </span>
                        <span class="col1">Calendar </span>
                        <span class="col1">Insurance Management </span>
                        <span class="col1">HRA </span>
                        <span class="col1">HRAreports </span>
                        <span class="col1">Other Reports</span>
                        <span class="col1">Tracking - Health,Activity & behavior </span>
                        <span class="col1">Coaching </span>
                        <span class="col1">Document Management </span>
                        <span class="col1">Leave Management </span>
                        <span class="col2">Reward Program </span>
                        <span class="col2">Survey </span>
                        <span class="col2">Messaging </span>
                        <span class="col1">Settings </span>
                        <span class="col1">Company Profile </span>
                        <span class="col1">Employee Management </span>
                        <span class="col1">FAQs & Privacy Policy </span>
                        <span class="col1">Menu </span>
                        <span class="col1">Role & Access </span>
                        <span class="col1">Integration with wearables </span>
                     </p>
                </div>
                <div>
                    <button mat-raised-button color="green" class="gr"> Selected</button>
                </div>
            </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="space-around" class="box4">
                <div fxLayout="column" style="width: 100%;">
                    <div class="round">
                      <div class="doll"><mat-icon>filter_vintage</mat-icon> <h2 class="for"> $40.00</h2> <span class="th">per month</span></div>
                    </div>

                    <div class="row mn">
                        <h3 class="jiv">Jive </h3>
                    </div>
                    <div class="para1">
                        <!-- <div *ngFor="let item of privacyPolicyData">
                            <p class="data_show1">{{item.description}}</p>
                        </div> -->
                        <p>
                            <span class="col1"> Dashboard </span>
                            <span class="col1"> Attendance </span>
                            <span class="col1"> Notifications/Announcement </span>
                            <span class="col1">Salary Management </span>
                            <span class="col1">Calendar </span>
                            <span class="col1">Insurance Management </span>
                            <span class="col1">HRA </span>
                            <span class="col1">HRAreports </span>
                            <span class="col1">Other Reports</span>
                            <span class="col1">Tracking - Health,Activity & behavior </span>
                            <span class="col1">Coaching </span>
                            <span class="col1">Document Management </span>
                            <span class="col1">Leave Management </span>
                            <span class="col1">Reward Program </span>
                            <span class="col1">Survey </span>
                            <span class="col1">Messaging </span>
                            <span class="col1">Setting </span>
                            <span class="col1">Company Profile </span>
                            <span class="col1">Employee Management </span>
                            <span class="col1">FAQs & Privacy Policy </span>
                            <span class="col1">Menu </span>
                            <span class="col1">Role & Access </span>
                            <span class="col1">Integration with wearables </span>
                         </p>
                    </div>
                    <div>
                        <button mat-raised-button color="orange" class="but"> Select</button>
                    </div>
                </div>


            </div>
        </div>

    </div>


</div>
