<div fxLayout="row" fxLayoutAlign="space-around left">
  <div fxFlex>
    <h3 class="page-title">
      Survey
    </h3>
    <ul class="breadcrumb">
      <!-- <li><a routerLink="/dashboard">Dashboard</a></li> -->
      <li><a>Survey</a></li>
      <li>Active Survey</li>
    </ul>
  </div>
</div>
<div id="main">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxflexfill fxLayoutGap="10px grid">
    <div fxFlex="70">
      <app-card [title]="'Number of Surveys conducted by month'">
        <!-- <ng-template #children>
          <app-doughnut [data]="depEmpGraphData"></app-doughnut>
        </ng-template> -->
        <ng-container>

        </ng-container>
      </app-card>
    </div>
    <div fxFlex="30">
      <app-card [title]="'Number of Responses received'">
        <!-- <ng-template #children>
          <span class="card-count">33</span>
        </ng-template> -->
        <ng-container>
          <span class="card-count">33</span>
        </ng-container>
      </app-card>
    </div>
  </div> <br/>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxflexfill fxLayoutGap="10px grid">
    <div fxFlex="70">
      <app-card [title]="'Number of responded for last 10 Surveys'">
        <!-- <ng-template #children>
          <app-doughnut [data]="depEmpGraphData"></app-doughnut>
        </ng-template> -->
        <ng-container>

        </ng-container>
      </app-card>
    </div>
    <div fxFlex="30">
      <app-card [title]="'Number of Active Surveys'">
        <!-- <ng-template #children>
          <span class="card-count">33</span>
        </ng-template> -->
        <ng-container>
          <span class="card-count">33</span>
        </ng-container>
      </app-card>
    </div>
  </div>
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>{{responseData.survey_Name}}</mat-card-title>
      <mat-card-subtitle><a class="primary-txt" (click)="openSurveyQuestion()" style="cursor: pointer;">view all
          {{responseData.TotalQuestionCount}} questions</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxflexfill class="mid-graph"
        fxLayoutGap="10px grid">
        <div fxFlex="70">
          <app-vertical-bar *ngIf="graphData" [data]="graphData"></app-vertical-bar>
        </div>

        <div fxFlex="40">
          <div fxLayout="column" fxflexfill class="" fxLayoutGap="10px grid" fxLayoutAlign="space-between stretch"
            style="height:100%">
            <div fxFlex fxFlex="50">
              <div fxLayout="row" fxflexfill class="surve-time-col" style="height: 100%;" fxLayoutAlign="stretch"
                fxLayoutGap="10px grid" [routerLink]="['/survey-list']">
                <div fxFlex="50">
                  <span class="current-time">
                    <span class=" blue-txt"
                      *ngIf="responseData.expiry == 'remain'">{{responseData.survey_ExpiryDate}}</span>
                    <countdown class="current-time" *ngIf="responseData.expiry == 'current'"
                      [config]="{leftTime: responseData.survey_ExpiryDate}"></countdown>
                  </span><br />
                  <span>Time Left</span>
                </div>
                <div fxFlex="50" *ngIf="downloadPdfHide">
                  <button mat-raised-button class="big-btn block-btn" color="warn"
                    (click)="endSurvey(responseData.initiateSurvey_id)">End Survey</button>
                </div>
              </div>
            </div>
            <div fxFlex fxFlex="50">
              <div fxLayout="row" fxflexfill class="surve-time-col" style="height: 100%;" fxLayoutAlign="stretch"
                fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="current-status-survey">{{userList.length - responseData.totalUserAttempted}} /
                    {{userList.length}}</span><br />
                  <span>Not attempted yet!</span>
                </div>
                <div fxFlex="50" *ngIf="downloadPdfHide">
                  <button mat-raised-button class="big-btn block-btn" color="primary"
                    (click)="reminderSurvey(this.formData.surveyQuestionsId)">Send Reminder</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->
  <br />
  <mat-card>
    <div fxLayout="row" class="mid-graph">
      <div fxFlex="100" fxFlex.gt-xs="100">

        <div class="scroller">
          <div class="scroll-x">

            <mat-toolbar color="light" class="tool">
              <span class="mat-toolbar-title icic"> <b>Attempted by </b> </span>
              <span class="mat-toolbar-title icici"> {{responseData.totalUserAttempted}}/{{userList.length}} </span>
              <span class="spacer"></span>
              <mat-form-field class="search-field" appearance="standard" *ngIf="downloadPdfHide">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput placeholder="Search" #input (keyup)="applyFilter($event)">
              </mat-form-field>
              <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getList()"
                *ngIf="downloadPdfHide">
                <mat-icon>sync</mat-icon>
              </button>
              <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="downloadPDF()"
                *ngIf="downloadPdfHide">
                <mat-icon>download</mat-icon>
              </button>
            </mat-toolbar>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="downloadPdfHide">

              <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

              <!-- profile_picture Column -->
              <ng-container matColumnDef="profile_picture">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <!-- ./assets/img/Ellipse_1.png -->
                  <img src="{{filePath}}{{element.profile_picture}}" *ngIf="element.profile_picture != ''" />
                  <img src="./assets/img/Ellipse_1.png" *ngIf="element.profile_picture == ''" />
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="attemptedQuestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Attempted </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{element.attemptedCount}}/{{responseData.TotalQuestionCount}}</span>
                  <mat-progress-bar mode="determinate"
                    [value]="(element.attemptedCount*100)/responseData.TotalQuestionCount"></mat-progress-bar>
                </td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action Required </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="!accessPermission">No Permission</span>
                  <button mat-raised-button style="margin-left:0 !important" class="cal-button round-btn"
                    (click)="reminderByUSerSurvey(element.user_id)" *ngIf="accessPermission" color="light"><span
                      class="primary-txt">Send Reminder</span></button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data found.</td>
              </tr>
            </table>

          </div>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" *ngIf="downloadPdfHide"></mat-paginator>



      </div>
    </div>

    <table style="display:none;width:100%" id="table_pdf" class="table">
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>Name</th>
          <th>Email</th>
          <th>Attempted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of responseData.user; let i=index">
          <!-- <td><b><img src="{{filePath}}{{element.profile_picture}}" *ngIf="element.profile_picture != ''" />
                <img src="./assets/img/Ellipse_1.png" *ngIf="element.profile_picture == ''" />
              </b></td> -->
          <td><b>{{element.name }}</b></td>
          <td><b>{{element.email}}</b></td>
          <td><b><span>{{element.attemptedCount}}/{{responseData.TotalQuestionCount}}</span>
              <mat-progress-bar mode="determinate"
                [value]="(element.attemptedCount*100)/responseData.TotalQuestionCount"></mat-progress-bar>
            </b></td>
        </tr>
      </tbody>

    </table>
  </mat-card>
</div>